/* nav */
nav{
    width: 1165px;
    height: 132px;
    display: flex;
    align-items: center;
    justify-content: space-between;  
    padding-left: 10px ; 
    padding-right: 10px;
    border-top: 0;
    border-bottom: 2px solid wheat;
}
.lienNav{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.HOME, .GAME{
    text-decoration: none;
    color: white;
    
}

/*  la division sous nav */
.sousNav{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 600px;
}

.ImagenBlock{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -200px;
    left: 1095px;
    gap: 1px;
    
}

.bat_flèche{
    width: 80px;
    height: 80px;
}

.icon{
    width: 20px;
    height: 20px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;

}

.paradebut{
    padding-left: 50px;
}


/* body */
body{
    background-color: black;
    color: antiquewhite;
    padding: 0;
    margin: 0;
}
/* tous les sections */
.barre{
    background-color: azure;
    opacity: 0.5;
    height: 10px;
}
/* les div dans les sections */
nav,.sousNav,.divSection{
    margin-left: 80px;
    margin-right: 80px;
    border-left: 2px solid wheat;
    border-right: 2px solid wheat;
    margin-bottom: 0;
    margin-top: 0;

}

.divSection{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.question{
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.divCheckbox{
    width: 400px;
    height: 30px;
    background-color: gray;
    margin-top: 10px;
    align-items: center;
    

}



/* section footer */
.sectionFooter{
    margin-bottom: 100px;
}

.phraseFooter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px ;
}

.textFooter{
    font-size: 10px;
    padding-top: 5px;
}

.enligne{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px;
    
}

button,input[type="submit"]{
    width: 200px;
    height: 50px;
    background:radial-gradient(
     #717492 ,  rgb(64, 32, 2)  ) ;
    border: none;

}

.submit{
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* GAME ACCUEIL */
.gameAccueil{
    background-image:  url("Illustrations/Batgame_1.png");
    height: 800px;
}

/* Chevalier noir */
#divChevalierNoir{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

.flecheHaut{
    height: 80px;
    width: 100px;
}

/* 1-HOMME MYSTERE */
#hommeMystere{
    height: 200px;
}

/* 2-HARLEY QUINN */
#imgHARLEYQUINN{
    height: 200px;

}

/* 3-DOUBLE FACE */
#imgDoubleFace{
    height: 200px;

}

/* 4-BATMAN JAUNE */
#imgBatmanJaune{
    height: 100px;
    width: 150px;

}

/* 5-VILLE */
#imgBatmanIcon{
    height: 150px;
    width: 250px;
}

/* 6- VILAIN  */
#parapluie{
    position: relative;
    top: -80px;
}

#iconCoeur{
    position: relative;
    top: -240px;
    left: -270px;

}

#iconRouge{
    position: relative;
    top: -480px;
    left: 500px;
}

/* 7-VILLE DEFENDU */
#journal{
    height: 200px;
}

/* 8-Tim Burton  */
#imgBATenvole{
    height: 250px;
}

/* 9-Jack Nicholson */
#ImgPingouin{
    position: relative;
    top: -50px;
    height: 200px;
}
#div9{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#bouche{
    position: relative;
    left: -200px;
    height: 250px;
}

#submit9{
    position: relative;
    left: -300px;
}

#imgInterrogation{
    height: 250px;
    position: relative;
    left: -350px;
}

/* 10-Jonathan Crane */
#div10{
    /* height: 400px; */
}
#question10{
    padding-top: 150px;
    height: 400px;
}

#jonathan{
    height: 200px;
}

#form10{
    position: relative;
    top: -240px;
}
#imgDynamite{
    position: relative;
    top: -200px;
    left: 170px;
}

#lunette{
    position: relative;
    top: -230px;
    left: 300px;
}

/*  11-Catwoman  */
#imgCatwoman{
    width: 250px;
}

/* 12-LES PARENTS DE BRUCE */
#imgBatmanMiniature{
    height: 250px;
    position: relative;
    top: -50px;
}

/* 13-Joker */
#imgJoker{
    height: 300px;
}

#imgBatmanRobin{
    height: 200px;

}

#ImgBatmanCatwoman{
    height: 230px;

}